* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-size: 16px;
}

.container-signup {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: linear-gradient(to right, #333333, #76BBC1);
}

.signup-form {
    background-image: linear-gradient(to right, #74dac1, #FE90AF);
    border: none;
    border-radius: 20px;
    width: 40%;
    display: flex;
    flex-direction: column;
    padding: 25px;
    gap: 20px;
    height: 550px;
    justify-content: space-between;
}

.inp {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.input {
    background-color: #CCC;
    width: 100%;
    height: 3em;
    border-radius: 10px;
    padding-left: 10px;
    border: none;
}

.input:focus {
    outline: none;
}

.h1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

h4 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.signup {
    background-color: #4C57B6;
    color: white;
    font-size: larger;
    font-weight: bold;
}

.signup:hover {
    cursor: pointer;
    background-color: greenyellow;
    color: black;
    margin-bottom: 5px;
}

.dont-acc {
    text-align: center;
    font-weight: bold;
}

label {
    font-weight: bold;
    font-size: 16px;
}

img {
    max-width: 100%;
}